.logo {
  align-items: center;
  display: flex;
  padding-left: 30px ;
  padding-top: 15px;
}

.images {
  width: 68px;
  height: 68px;
}

.logo span {
  font-size: 24px;
  padding-left: 5px;
}

.footer {
  line-height: 40px;
  align-items: center;
  text-align: center;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.modal {
  max-width: 340px;
}
.searchbar{
  padding-top: 34px;
  padding-bottom: 8px;
}
.searchbar_input{
  padding-top: 10px;
}
.slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.slick-slide h3 {
  color: #fff;
}
.carousle{
  width: 750px;
  height: 350px;
}
.top{
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  align-items: center;
  background: #e1e1e1;
}
.searchbartop{
line-height: 30px;
  font-size: 14px;
  text-align: center;
  color: #cccccc;
}
.background{
  background: #cccccc;
}
